{% extends "base.html" %}


{% block title %}Secrets{% endblock %}

{% block content %}

<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <script>
    // Wait 3 seconds and then fade out the flash messages
    setTimeout(function() {
        var flashes = document.querySelectorAll('.flashes li');
        flashes.forEach(function(flash) {
            flash.style.transition = 'opacity 0.5s ease-out';
            flash.style.opacity = '0';
            setTimeout(function() {
                flash.remove();
            }, 500); // Delay to ensure the fade out transition completes
        });
    }, 3000); // 3000 milliseconds = 3 seconds
</script>
  <h1 class="title">Welcome, {{ name }}!</h1>
  <a href="{{ url_for('download_file', filename='cheat_sheet.pdf')}}">Download Your File</a>
</div>
{% endblock %}